:root {
    /*Fuentes*/

    --fuentePrincipal: 'Big Shoulders Display', cursive; /*para los títulos*/
    --fuenteSecundaria: 'Lexend Deca', sans-serif; 

    /*Colores*/

    --luxury: hsl(179, 100%, 13%);
    --sedans: hsl(31, 77%, 52%);
    --suvs: hsl(184, 100%, 22%);
    --blanco: hsla(0, 0%, 100%, 0.75); /*Para párrafos*/
    --gris: hsl(0, 0%, 95%); /*Fondo, títulos y botones*/

}


/*GLOBALES*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *::after{
    box-sizing: inherit; 
}

body {
    font-size: 16px;
    background-color: var(--gris);
}

h1 { 
    font-family: var(--fuentePrincipal);
    color: var(--gris);
    text-transform: uppercase;
    font-size: 4rem;
}

p {
    font-family: var(--fuenteSecundaria);
    color: var(--blanco);
    font-size: 1.5rem;
    margin-top: 0;
    align-self: flex-start;
    text-align: left;
    line-height: 2.5rem;
    padding-right: 1rem;
}

/*BOTONES*/
.boton {
    background-color: var(--gris);
    border: .2rem solid;
    border-color: var(--gris);
    font-family: var(--fuenteSecundaria);
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-top: 5.5rem;
    justify-self: start;
    cursor: pointer;
    margin-right: 12rem;
    
}
@media (min-width: 1200px) {

.boton {
    margin-right: 8rem;
    
}
}

#sedans {
    color: var(--sedans);
}
#suvs {
    color: var(--suvs);
}
#luxury {
    color: var(-luxury);
}

#sedans:hover,
#suvs:hover,
#luxury:hover {
    border: .2rem solid;
    border-color: var(--gris);
    color: var(--gris);
}

#sedans:hover {
    background-color: var(--sedans);
}

#suvs:hover {
    background-color: var(--suvs);
}

#luxury:hover {
    background-color: var(--luxury);
}

/*CONTENEDORES*/

.contenedor-luxury,
.contenedor-sedans,
.contenedor-suvs {
    padding: 4rem;
    display: flex;
    flex-direction: column;
}
.contenedor-sedans {
    background-color: var(--sedans);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.contenedor-suvs {
    background-color: var(--suvs);
}

.contenedor-luxury {
    background-color: var(--luxury);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

@media (min-width: 1200px){


.contenedor-sedans {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
}

.contenedor-luxury {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
}
}

/*CONTENEDOR PRINCIPAL*/

.contenedor-principal {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
}
@media (min-width:1200px) {


.contenedor-principal {
    flex-direction: row;
    max-width: 90rem;
    margin: 15rem auto;
    height: 50rem;
    
}

}

